body {
    text-align: center; 
    background-image: url(https://images.rawpixel.com/image_800/czNmcy1wcml2YXRlL3Jhd3BpeGVsX2ltYWdlcy93ZWJzaXRlX2NvbnRlbnQvbHIvcm00ODYtYmctMDE5LXguanBn.jpg);
}

 .carousel-caption {
            color: brown;

        }